.bg-container{
    background-color: aqua;
    height:100%;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 10px;
}

.content-tab{
    background-color: bisque;
    background-size: cover;
    height:100%;
    width: 85%;
    border-radius: 20px;
    border-color: black;
    border-width: 5.342px;
    border-style: double;
    text-align: justify;
    font-size: 18.5px;
    font-family: "Cambria";
    padding-left:25px;
    padding-top: 20px;
    padding-right:25px;
}

h3{
    font-weight: bolder;
}

#read{
    accent-color: rgb(115, 246, 115);
    height:15px;
    width: 15px;
}